/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.header-admin {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 13px;
  margin-bottom: 100px;
  height: 40px;
  width: 100%;
}

.header-admin i {
  font-size: 12px;
  color: white;
  margin-right: 10px;
}

header > div {
  background-color: black;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 25px;
  font-size: 1.2em;
  cursor: pointer;
}
.insta-logo {
  width: 15px;
}
nav a {
  color: inherit;
  text-decoration: inherit;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.mes-projets > button {
  font-size: 12px;
  margin: 0 0 0 20px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.mes-projets > button > span {
  margin: 0 0 0 10px;
}

/* Section Modale */
.modale-view_one.hide,
.modale-view_two.hide,
.overlay.hide {
  display: none;
}

.overlay {
  position: fixed;
  /* Raccourci pour le positionnement top right ..., indique que l'élément prend tout l'écran */
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modale-view_one,
.modale-view_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 70%;
  height: auto;
  background-color: white;
  z-index: 1;
  border-radius: 15px;
  border: solid 1px rgb(217, 217, 217);
}

.fa-solid.fa-xmark {
  align-self: flex-end;
  font-size: 20px;
  color: black;
  padding: 20px;
  cursor: pointer;
}
.modale-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 40px 0;
  gap: 9px;
  width: 60%;
  max-width: 1440px;
  padding-bottom: 50px;
  border-bottom: solid 1px #b3b3b3;
}
.modale-photos_all {
  width: 76px;
  height: 102px;
}
.modale-photos li {
  margin-bottom: 25px;
}

.modale-photos li img {
  object-position: center;
  transform: translateY(-30%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modale-photos_all > i {
  position: relative;
  z-index: 1;
  top: -5%;
  left: 65%;
  background-size: cover;
  align-content: center;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
}

.modale-view_one h2,
.modale-view_two h2 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  color: black;
}

.modale-view_one button,
.modale-view_two button {
  font-family: "Work Sans";
  font-size: 17px;
  width: 237px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #1d6154;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 25px;
}
/* Section Modale Ajout photos */

.modale-view_two form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 65%;
  height: 80%;
}

.form-ajout {
  padding: 20px 0;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #e8f1f6;
}
.modale-two_icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-solid.fa-arrow-left {
  padding: 20px;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.fa-regular.fa-image {
  display: block;
  width: 100%;
  text-align: center;
  color: #b9c5cc;
  font-size: 65px;
  padding-bottom: 15px;
}

.form-ajout_file {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 37%;
  background-color: #cbd6dc;
  width: 25%;
  height: 5%;
  border-radius: 25px;
  opacity: 0;
}

.form-ajout.preview p,
.form-ajout.preview i,
.form-ajout.preview input,
.form-ajout.preview button {
  display: none;
}

.preview-img {
  z-index: 2;
  width: 30%;
  height: 100%;
}

.form-ajout button {
  cursor: pointer;
  background-color: #cbd6dc;
  width: 40%;
  margin-bottom: 8px;
  font-size: 14px;
  color: #306685;
}

.form-ajout p {
  font-size: 8px;
  color: grey;
}
.form-formulaire {
  height: 40%;
  width: 100%;
  border-bottom: solid 1px rgba(179, 179, 179, 1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form-formulaire label {
  font-family: "Work Sans";
  font-weight: 500;
  color: #3d3d3d;
  font-size: 14px;
  align-self: flex-start;
  margin: 30px 0 10px 0;
}

.form-input {
  /*supprime la flèche de l'input sur tout les naviguateurs */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 99%;
  height: 50px;
  border: none;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  outline: none;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20640%20640'%3E%3Cpath%20fill='%23000'%20d='M297.4%20470.6C309.9%20483.1%20330.2%20483.1%20342.7%20470.6L534.7%20278.6C547.2%20266.1%20547.2%20245.8%20534.7%20233.3C522.2%20220.8%20501.9%20220.8%20489.4%20233.3L320%20402.7L150.6%20233.4C138.1%20220.9%20117.8%20220.9%20105.3%20233.4C92.8%20245.9%2092.8%20266.2%20105.3%20278.7L297.3%20470.7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
  cursor: pointer;
}

.form-span.hide {
  visibility: hidden;
}

.form-span {
  width: 100%;
  height: 20px;
  font-size: 15px;
  color: rgb(11, 168, 11);
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
}

.modale-view_two form .modale-form_button {
  background-color: rgba(167, 167, 167, 1);
  font-family: "Syne";
  font-size: 12px;
}

.modale-view_two form .modale-form_button.preview {
  background-color: rgba(29, 97, 84, 1);
  font-family: "Syne";
  font-size: 12px;
}

/* Fin Section Modale Ajout photos */
/* Fin Section Modale */

#portfolio-filtres {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 60%;
}
.portfolio-filtres_all {
  color: #1d6154;
  width: auto;
  align-content: center;
  text-align: center;
  border: solid 1px #1d6154;
  border-radius: 25px;
  margin: 0 10px 30px 10px;
  font-size: 1.3em;
  font-weight: 500;
  padding: 10px;
}
.portfolio-filtres_all:hover {
  color: white;
  background-color: #1d6154;
}

#portfolio-filtres.hide {
  display: none;
}

.gallery {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
